body {
    background-color:black;
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    color: rgb(247, 225, 194);
}

footer{
text-align: right;
font-size: 20px;

}

button:hover{
    /* background-color: cyan; */
    outline: none;
    border-color: cyan;
    box-shadow: 0 0 90px cyan;
}

.game-container{
display: inline-block;
height: 200px;
width: 200px;
text-align: center;
box-shadow: none;
}



.blue {  
background-color: rgb(84, 84, 201);
border-bottom-left-radius: 200%;
}

.yellow{
background-color: rgb(230, 230, 132);
border-bottom-right-radius: 200%;
}

.green{ 
background-color:rgb(105, 175, 105);
border-top-left-radius: 200%;
}

.red{  
background-color: rgb(241, 90, 90);
border-top-right-radius: 200%;
}

.power-modes{
position: absolute; visibility: visible; right: 260px; left: 180px; top: 380px; height: 130px; width: 150px; z-index: 200; 
text-align: center;
}

.active{
background-color: white;
}

.start-button{
background-color: black;
color: rgb(247, 225, 194);
cursor: pointer;
font-family: 'Mansalva', cursive;
font-size: 40px;
border-radius: 50%;
}

.restart-button{
background-color: black;
color: rgb(247, 225, 194);
cursor: pointer;
font-family: 'Mansalva', cursive;
font-size: 40px;
border-radius: 50%;
}

.strict-mode{
background-color: black;
color: rgb(247, 225, 194);
cursor: pointer;
font-family: 'Mansalva', cursive;
font-size: 40px;
border-radius: 50%;
}

.normal-mode{
background-color: black;
color: rgb(247, 225, 194);
cursor: pointer;
font-family: 'Mansalva', cursive;
font-size: 40px;
border-radius: 50%;
}